[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = https://github.com/voxpupuli/puppet-staging