[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "puppet/modules/inifile"]
	path = puppet/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/mayflower/puppet-php